<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados dos Países</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
    <header>
        <h1>Dados dos Países</h1>
    </header>

        <table class="center-table">
            <thead>
                <tr>
                    <th class="center-table-th">País</th>
                </tr>
            </thead>
            <tbody>
                {% for pais in paises %}
                <tr>
                    <td class="center-table-td">
                        <a href="/pais/{{ pais }}">{{ pais }}</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
