/* Estilos gerais para o corpo da página */
body {
   background-color: rgb(235, 235, 240);
   color: rgb(28, 28, 30);
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

/* Estilos para o título <h1> */
h1 {
   font-size: 72px;
   text-align: center;
   margin-bottom: 50px;
}

/* Estilos para os títulos <h2> */
h2 {
   font-size: 40px;
   margin-top: 0;
}

/* Estilos para os parágrafos <p> */
p {
   font-size: 24px;
   margin-bottom: 0;
}

/* Estilos para a tabela */
table {
   width: 100%;
   table-layout: fixed;
   border-collapse: collapse;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   border-radius: 5px 5px 0 0;
}

/* Estilos para as células da tabela <td> e cabeçalho da tabela <th> */
td, th {
   font-size: 24px;
   padding: 8px;
   border: 1px solid black;
   text-align: center;
   width: auto;
}

/* Estilos para as células de cabeçalho da tabela <th> */
th {
   background-color: rgb(235, 235, 240);
   font-weight: bold;
}

/* Estilos para a tabela centralizada */
.center-table {
   table-layout: fixed;
   margin: 0 auto;
}

/* Estilos para o contêiner geral */
.container {
   max-width: 1080px;
   margin: 0 auto;
   padding: 20px;
   background-color: #fff;
   border: 1px solid #ccc;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   border-radius: 25px;
}

/* Estilos para a margem */
.margin {
   margin-top: 20px;
   margin-bottom: 20px;
}
